{erl_opts, [ debug_info
           , warnings_as_errors
           ]}.

{overrides, [{add, redbug, [{erl_opts, [nowarn_deprecated_function
                                       ]}
                           ]}
            ]}.

{deps, [ parse_trans
       , unite
       , erlperf
       , redbug
       ]}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_extra_apps, [parse_trans, eunit]}
           ]}.

{eunit_opts, [no_tty, {report, {unite_compact, [profile]}}]}.

{profiles, [{inline, [{erl_opts, [{d, 'INLINE_INPUTS'}]}
                     ]}
           ]}.
