{erl_opts, [ debug_info
           %% , warnings_as_errors
           ]}.

{deps, [ parse_trans
       , unite %% nicer eunit output
       , erlperf
       ]}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_extra_apps, [parse_trans, eunit]}
           ]}.

{eunit_opts, [no_tty, {report, {unite_compact, [profile]}}]}.
